@import 'tailwindcss';

@theme {
  --font-sans: 'Poppins', 'Segoe UI', sans-serif;
  --font-serif: 'Poppins', 'Segoe UI', sans-serif;
}

@layer base {
  body {
    margin: 0;
    font-family: var(--font-sans);
  }
}
